.DS_Store
.vscode
node_modules/
yarn-error.log
*.hprof
packages/mobile/android/app/google-services.json
packages/mobile/android/gradle.properties
packages/mobile/android/app/AronNikiCucc.jks
packages/web/dist
.gradle/
.idea/